<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin Product Catalogue Page</title>
</head>
<body>

	<div class="top-nav-bar">
		<a href="home">Home</a>
		<a href="products">Products</a>
		<a href="build-your-own-pc">Build-your-own PC</a>
		<a href="about-us">About Us</a>
		<a href="about-us">Contact Us</a>
	</div>
	
	<div class="side-nav-bar">
		<h1>Products:</h1>
		<h2>Dream PC</h2>
		<h2>Build PC</h2>
		<ul>
			<li>CPU</li>
			<li>Storage</li>
			<li>Memory</li>
			<li>Motherboard</li>
			<li>Power Supply</li>
			<li>GPU</li>
			<li>Case</li>
			<li>Cooler</li>
		</ul>
	</div>
</body>
</html>