<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shopping Cart</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/adminHome.css">
    <link rel="stylesheet" href="/styles/base-templates.css">
    <link rel="stylesheet" href="/styles/adminProducts.css">
</head>
<body>

    <div th:replace="~{adminNavbar::adminNavbar}~"></div>



    <a href="https://www.flaticon.com/free-icons/smart-cart" title="smart cart icons">Smart cart icons created by Freepik - Flaticon</a>
</body>
</html>