<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/adminHome.css">
    <link rel="stylesheet" href="/styles/base-templates.css">
</head>

<body>
<div th:replace="~{navbar :: navbar}"></div>

    <br><br>
    <div class=product>
    	<div class="productBox" th:each="product:${product}">
    		<div class="my-box">
    			<img src="images/Chamber_Pro.png" height="300px" width="300px">
    		</div>
            <h2 th:text="${product.productName}"></h2>
    		<!-- <h2 th:text="${product.productPrice}"></h2> -->
    	</div>
    </div>
    <br>
    <!--


    <br><br>
	<div>
		<a href="home" style="position: absolute; bottom: 0; right: 0; padding: 5px 15px 10px 8px;">
			<p>Return</p>
		</a>
	</div> -->


</body>