
/*.admin-product-components*,*/
/*.component-table{*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/


/*.admin-product-components-cpu th, admin-product-components-cpu td,*/
/*.component-table th, .component-table td {*/
/*    border: 1px solid #ccc; !* Light grey border *!*/
/*    padding: 8px; !* Spacing inside cells *!*/
/*    text-align: left; !* Align text to the left *!*/

/*}*/


/*.admin-product-components-cpu th,*/
/*.component-table th {*/
/*    background-color: #f1f1f1; !* Light grey background for headers *!*/
/*}*/

/*button {*/
/*    padding: 5px 10px; !* Padding inside button *!*/
/*    cursor: pointer; !* Pointer cursor on hover *!*/
/*}*/

/*button:hover {*/
/*    background-color: grey; !* Light grey background on hover *!*/
/*}*/

/* Style for the table */
.large-card .table-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
}

.component-table {
    width: auto; /* Set width to auto to allow flexing */
    border-collapse: collapse;
}

/* Style for table headers */
.component-table th {
    background-color: #f1f1f1; /* Light gray background */
    padding: 10px; /* Padding for the headers */
    text-align: left; /* Align text to the left */
    border-bottom: 2px solid #ddd; /* Bottom border */
    font-size: 25px;
}

/* Style for table rows */
.component-table td {
    padding: 10px; /* Padding for table cells */
    border-bottom: 1px solid #ddd; /* Bottom border for rows */
}

/* Style for alternate row colors */
.component-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

/* Style for hover effect on rows */
.component-table tr:hover {
    background-color: #f2f2f2; /* Darker background color on hover */
}

/* Set fixed width for component and price columns */
.component-table td:nth-child(1),
.component-table td:nth-child(2) {
    width: 200px; /* Adjust the width as needed */
    min-width: 150px; /* Ensure minimum width */
    max-width: 250px; /* Ensure maximum width */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text wrapping */
}

.buttons-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Add some margin to the top */
}

.buttons-container button {
    margin: 0 10px;
}

/* Modal container */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative; /* Enables absolute positioning for children */
    background-color: white;
    padding: 50px 20px 20px 20px; /* Creates space for the inner border */
    border: 2px solid black; /* Outer border */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Adjust this value to increase the width */
    max-width: 600px;
}

.buttons-container button,
.modal-buttons button,
.save-buttons button,
.back-buttons button{
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f1f1f1;
}

.modal-buttons button:hover,
.buttons-container button:hover,
.back-button button:hover,
.save-button button:hover
{
    background-color: #818181;
}
.back-button{
    font-size:24px;
}

.inner-border {
    background-color: #fff;
    padding: 15px 30px; /* Inner content padding */
    border: 2px solid black; /* Inner border */
    border-radius: 3px;
}


.close-button {
    position: absolute;
    top: 5px; /* Adjust this value to place the button slightly outside the top border */
    right: 5px; /* Adjust this value to place it slightly outside the right border */
    font-size: 30px;
    cursor: pointer;
    padding: 5px 8px; /* Adjust padding to maintain a good aspect ratio for the button */
}

.total-price {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px; /* Adjust margin as needed */
}

.large-card h2 {
    font-size: 38px;
    font-weight: bolder;
}
.large-card h3 {
    font-size: 25px;
    font-weight: bold;
}

.add-button {
    font-size: 1em;
    padding: 8px 16px;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f8f9fa;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #e9ecef;
}
